nav.navigation
	.navigation__wrapper
		a.navigation__link(href='/')
			| Slick
			svg.navigation__link__icon

		ul.navigation__list
			.navigation__list__item
				a.navigation__list__link(href='about') About
			.navigation__list__item
				a.navigation__list__link(href='collections') Collections