.about__gallery {
  position: relative;
  margin: 20rem 0;
  height: 58.6rem;
  overflow: hidden;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.about__gallery__wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}
.about__gallery__media {
  position: relative;
  height: 43.7rem;
  width: 30.9rem;
  margin: 0 4rem;
}
.about__gallery__media__image {
  @extend %cover;
  object-fit: cover;
}
