@import './content';
@import './gallery';
@import './highlight';

.about {
  background-color: $color-crayola;
  color: $color-arsenic;
}
.about__wrapper {
}
.about__title {
  @include title(100);
  margin: auto;
  max-width: 124rem;
  text-align: center;
}
