// Colors
$color-white: #fff;
$color-black: #000;
$color-contessa: #c97164;
$color-quicksand: #bc978c;

// Fonts
$font-george-x: 'George X';
$font-suisse-bp: 'Suisse BP';

// Easing
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

// Z indexes
$z-indexes: ('navigation', 'content');
