// Colors
$color-black: #000;
$color-linen: #f9f1e7;
$color-quicksand: #bc978c;
$color-contessa: #c97164;
$color-crayola: #b2b8c3;
$color-arsenic: #37384c;

// Fonts
$font-george-x: 'George X';
$font-suisse-bp: 'Suisse BP';

// Easing
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

// Z indexes
$z-indexes: ('loader', 'navigation', 'content');
