@import './fonts';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 1920 * 10);
}

body {
  @include text(16);
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}
