@import './fonts';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  @extend %cover;

  position: fixed;
  overflow: hidden;
  font-size: calc(100vw / 1920 * 10);
  line-height: 1;

  @include media('<phone') {
    font-size: calc(100vw / 750 * 10);
  }
}

body {
  @include text(16);
  @extend %cover;

  position: fixed;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

img {
  vertical-align: middle;
}

.content {
  @extend %cover;
}
